* {
  box-sizing: border-box;
}

body {
  margin: 0;  
  background: #D5EAFF;
  color: #d9e2f1;
  min-height: 100vh;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
}

#main-header .title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#main-header .title img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  
}

#main-header button {
  font-size: 1.5rem;
  
}



#products {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.product-item {
  background-color: #8e5ead;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.product-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.product-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.product-item-description {
  margin: 1rem;
}

.product-item-price {
  display: inline-block;
  background-color: #DAFFCC;
  color: #004285;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #A8E393;
  border: 1px solid #DAFFCC;
  color: #004285;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: #ffab04;
  border-color: #ffab04;
  color: #1f1a09;
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #9867E9;
}

.text-button:hover,
.text-button:active {
  color: #ffab04;
}

